.post-container{
    border: 2px solid rgb(253, 253, 253);
    height: auto;
    width: 350px;
    margin-bottom:30px;
    padding: 30px;
    text-align: center;
    background-color: rgb(20, 82, 20);
    
}


.title-page-miperfil{
    text-shadow: grey 1px 1px;
    font-size: 70px;
    width: 1500px;
    text-align: center;
}
.subtitle-page-miperfl{
    font-size: 50px;
    color: grey;
    text-align: center;
}
.posts-contaner{
  display: flex;
  height: 300px;
  flex-direction: row;          
}

.button{
    font-size: 20px;
}